body {
  background-color: white;
  background-image: url('img/assets/bg-img.jpeg');
  background-position: no-repeat;
  background-size: contain;
  font-size: 16px;
}

/* START */

/* gameboy screen - used for toggle later. #8bac0f */

@media screen and (max-width: 640px) {

  .outer-box {
    margin: 0.2rem 0 !important;
    /* min-width: 320px !important; */
  }

  .on-off-signal {
    top: 1rem !important;
    left: 1rem !important;
    height: 0.6rem !important;
    width: 0.6rem !important;
  }

  .game {
    margin: 0.2rem 0.6rem !important;
    border: 0.6rem solid #5d5b7e !important;
    border-radius: 0.3rem !important;
  }

  .game-screen {
    padding: 0 4rem !important;
     /*-ms-overflow-style: none; /* Internet Explorer 10+ */
    /* scrollbar-width: none; /* Firefox */
  }

  .game-screen::-webkit-scrollbar {
    display: none;
  }


  .hero-title {
    font-size: 3rem;
  }

  .intro-title {
    font-size: 3rem;
  }

  .word-big-font {
    font-size: 2rem;
  }

  .game-boy {
    width: 100% !important;
    margin: 0 1rem !important;
  }

  .left-control, .middle-control {
    width: 33% !important;
  }

  .right-control {
    width: 34% !important;
  }

  .center-btn, .ctl-sq {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }

  #middle-btn {
    height: 1.75rem !important;
    width: 1.75rem !important;
  }

  .grey-box {
    height: 0.5rem !important;
  }

  /* .b-button, .a-button {
    height: 2rem !important;
    width: 2rem !important;
  } */

}


.outer-box {
  min-height: 80vh;
  /* min-width: 375px; */
  max-width: 1280px;
  margin: 1rem 0;
  background-color: #c0c0c0;
  /* Keeps the div in the middle of screen */
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: auto;
  border-radius: 1rem;
  box-shadow: 0.5rem -0.5rem 0 0 grey;
}



.top-line {
  display: flex;
  border-bottom: solid rgb(173, 171, 171) 0.5rem;
}

.left-box,
.right-box {
  height: 2.5rem;
  width: 2.5rem;
  aspect-ratio: 1/1;
}
.left-box {
  border-right: solid rgb(173, 171, 171) 0.5rem;
}

.right-box {
  border-left: solid rgb(173, 171, 171) 0.5rem;
}

.middle-box {
  flex-grow:1;
  display: flex;
  align-items: center;
}

/* The switch - the box around the slider */
.switch-border {
    padding: 0.2rem;
    background-color: grey;
    border-radius: 0.3rem;
}

.switch {
  position: relative;
  display: flex;
  justify-content: center;
  width: 2.5rem;
  height: 0.75rem;
  padding: 0.5rem;
  box-shadow: -0.05rem -0.05rem 0 0 grey;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgb(173, 171, 171);
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 0.3rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.75rem;
  width: 1.75rem;
  background-color: #5d5b7e;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 0.3rem;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

.on-btn, .off-btn {
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  font-size: 2rem;
  color: grey;
  margin: 0 0.5rem;
  /* -webkit-text-stroke-width: 0.05rem; */
}

.on-off-signal {
  background-color: #702323;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 12rem;
  left: 3.5rem;
  z-index: 1;
  transition: 300ms;
  transition-property: background-color;
  border: 0.1rem solid #c0c0c0;
}


/* Game screen */

.game {
  margin: 1rem 2.5rem;
  border: 3rem solid #5d5b7e;
  /* border-top: 2rem solid #5d5b7e;  */
  /* padding: 3rem;
  padding-top: 2rem; */
  background-color: #f0ece5;
  border-radius: 1rem;
  position: relative;
}

.game-screen {
  margin: 0;
  overflow: scroll;
  position: relative;
  max-height: 75vh;
  /* background-color: #f0ece5; */
  background-color: #f0ece5;
  overflow: auto;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  padding: 0 3rem;
  visibility: 'hidden';

  /*
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  /* scrollbar-width: none; /* Firefox */

}

/* ::-webkit-scrollbar {
  display: none;
} */


/* Up Down Arrows */
/* .arrow {
  position: sticky;
  z-index: 2;
  border: 0;
  font-size: 1rem;
  height: 3rem;
  width: 3rem;

} */

.flashing {
  animation: flashingAnimation 1s ease-in-out infinite alternate;
}

/* .arrow-up {
  top: 0%;
  left: 100%;
  transform: translate(100%,0);
  display: none;
}

.arrow-down {
  top: 100%;
  left: 100%;
  transform: translate(100%,-100%);
} */


@keyframes flashingAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Game Boy */

.game-boy {
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-55%, 0);
  z-index: 99;

  display: none;
  margin: 0 2.5rem;
  padding: 1.5rem 1rem 1rem;
  background-color: #c0c0c0;
  border-radius: 1rem;
  box-shadow: 0.5rem -0.5rem 0 0 grey;
}

.game-boy-control {
  display: flex;
  justify-content: space-between;
  background-color: #626b7a;
  border-radius: 1rem;
}

.left-control {
  height: 12rem;
  width: 10rem;
  display: flex;
  align-items: center; /*align-items = y-axis*/
  justify-content: center; /*justify-content = x-axis*/
}

.center-btn {
  position: relative;
  height: 2rem;
  width: 2rem;
}

.ctl-sq {
  height: 2rem;
  width: 2rem;
  aspect-ratio: 1/1;
  background-color: #283136;
  border-radius: 0.3rem;
}

.overlay-btn {
  position: absolute;
  top: 0;
  left: 0;
}

#middle-btn {
  height: 2.25rem;
  width: 2.25rem;
  /* cursor: auto; */
  /* border: 0.125rem solid #637179; */
  /* box-shadow: -0.15rem -0.15rem 0 0 grey; */
}

.ctl-sq:hover #middle-btn {
  cursor: auto;
  /* transform: translate(0, -0.125rem); */
  background-color: #283136;
}


#top-btn {
  transform: translate(0, -100%);
  border: 0.25rem solid grey;
  border-bottom: 0;
  /* box-shadow: -0.15rem -0.15rem 0 0 grey; */
}

#right-btn {
  transform: translate(100%, 0%);
  border: 0.25rem solid grey;
  border-left: 0;
  /* box-shadow: -0.15rem -0.15rem 0 0 grey; */
}

#bottom-btn {
  transform: translate(0, 100%);
  border: 0.25rem solid grey;
  border-top: 0;
  /* box-shadow: -0.15rem -0.15rem 0 0 grey; */
}

#left-btn {
  transform: translate(-100%, 0);
  border: 0.25rem solid grey;
  border-right: 0;
  /* box-shadow: -0.15rem -0.15rem 0 0 grey; */
}



.middle-control {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 10rem;
}

.grey-box {
  background-color: #949590;
  border-radius: 0.3rem;
  width: 100%;
  height: 1rem;
  padding-bottom: 0.25rem;
}

/* .select-start-outer-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
} */

.select-start-wrapper {
  padding: 0.5rem;
  background-color: azure;
  border-radius: 0.5rem;
}

.select-start-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #efeceb;
  box-shadow: -0.15rem -0.15rem 0 0 grey;
}

.select-button,
.start-button {
  background-color: #283136;
  border-radius: 2rem;
  border: none;
  height: 0.75rem;
  width: 5rem;
  /* position: relative; */
  transition: background-color 200ms;
  box-shadow: -0.15rem -0.15rem 0 0 grey;
}

/* .select-button:hover,
.start-button:hover {
  cursor: pointer;
} */

.select-button {
  margin-right: 1rem;
}

.start-button {
  margin-left: 1rem;
}

.right-control {
  width: 10rem;
  display: flex;
  flex-direction:column;
  /* justify-content: space-between; */
}

.b-a-buttons-top {
  height: 5rem;
}

.b-a-buttons {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
}

.b-button,
.a-button {
  background-color: #5d5b7e;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  box-shadow: -0.15rem -0.15rem 0 0 grey;
  transform: translate(0.15rem, 0.15rem);
  border: 0;
  /* position: relative;
  border: none; */
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b-button:hover, .a-button:hover {
  cursor: pointer;
  transform: translate(0.35rem, 0.35rem);
  box-shadow: -0.25rem -0.25rem 0 0 grey;
  transition: filter 250ms;
  filter: brightness(150%);
}


.b-button:active, .a-button:active {
  cursor: pointer;
  transform: translate(0.15rem, 0.15rem);
  box-shadow: -0.05rem -0.05rem 0 0 grey;
}

.twitter-icon, .document-icon {
  /* border-radius: 50%; */
  height: 80%;
  width: 80%;
  display: none;
  /* color: white; */
  /* background-color: white; */
  /* padding: 1rem; */
}

.b-button:hover .twitter-icon {
  display: block;
}

.a-button:hover .document-icon {
  display: block;
}


.b-button-container,
.a-button-container {
  aspect-ratio: 1/1;
  background-color: white;
  padding: 0.2rem;
  border-radius: 0.5rem;
}

/* Home button */

.start-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.start-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.start-bg {
  background-color: grey;
  border-radius: 1rem;
  border: none;
  padding: 0;
  cursor: pointer;
  /* outline-offset: 6px; */
  transition: filter 600ms;
  z-index: 6;
}


.start-word {
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  display:block;
  border-radius: 1rem;
  background-color: #5d5b7e;
  font-family: 'VT323', monospace;

  text-transform: uppercase;
  font-size: 1.5rem;
  color: black;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  transform: translate(0,-0.4rem);
  will-change: transform;
  transition: transform 150ms;
}


/* Home button transitions */

.start-bg:hover {
  transition: filter 250ms;
  filter: brightness(110%);
}

.start-bg:hover .start-word {
  transform: translate(0, -0.6rem);
  transition: transform 150ms;
}

.start-bg:active .start-word {
  transform: translate(0, -0.125rem);
  transition: transform 25ms;
}
